@font-face {
  font-family: "Satochi-Light";
  src: url("../fonts/Satochi/Satoshi-Light.woff");
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satochi/Satoshi-Regular.woff");
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satochi/Satoshi-Medium.woff");
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts/Satochi/Satoshi-Bold.woff");
}
