footer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 77px;

  a {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 41px;
  }

  svg {
    width: 35px;
  }
}
