footer {
  a {
    margin: 15px;
  }
  
  a:active {
    svg path {
      fill: #518cff;
    }
  }
}

footer div {
  display: flex;
  justify-content: center;

  p {
    color: #808080;
    font-size: 16px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  footer {
    svg {
      width: 30px;
      height: 20px;
    }
  }
}

@media screen and (min-width: 1024px) {
  footer {
    svg {
      width: 30px;
      height: 25px;
    }

    a:hover {
      svg path {
        fill: #518cff;
        fill-opacity: 1;
      }
    }
  }
}
