.presentation {
  .name {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 34px;
    animation: name 1.5s ease 0s 1 normal forwards;
  }

  @keyframes name {
    0% {
      opacity: 0;
      transform: translateX(-250px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  svg {
    width: 25px;
    opacity: 0.5;
    margin-left: 5px;
    animation: svg 1.5s ease 0s 1 normal forwards;
  }

  @keyframes svg {
    0% {
      transform: translateY(-250px);
    }

    100% {
      transform: translateY(0);
    }
  }

  p {
    font-size: 24px;
  }

  hr {
    border: 1px solid white;
    opacity: 20%;
    margin: 10px 0;
    animation: hr 1.3s ease 0s 1 normal forwards;
  }

  @keyframes hr {
    0% {
      opacity: 0;
      transform: translateX(250px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .hr-last {
    animation: hr-last 1.7s ease 0s 1 normal forwards;
  }

  @keyframes hr-last {
    0% {
      opacity: 0;
      transform: translateX(250px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .web-developer {
    animation: web 1.3s ease 0s 1 normal forwards;
  }

  @keyframes web {
    0% {
      transform: translateX(-200px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .designer-ui {
    animation: concepteur 1.6s ease 0s 1 normal forwards;
  }

  @keyframes concepteur {
    0% {
      transform: translateX(-200px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .graphic-designer {
    animation: graphic 1.9s ease 0s 1 normal forwards;
  }

  @keyframes graphic {
    0% {
      transform: translateX(-200px);
    }

    100% {
      transform: translateX(0);
    }
  }

  img {
    height: auto;
    width: 50%;
  }

  .presentation-content {
    font-size: 16px;
    padding: 5px;
    position: relative;
  }

  .works-name {
    position: relative;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.works {
  margin-top: 80px;

  h2 {
    animation: name 2s ease 0s 1 normal forwards;
    font-size: 50px;
  }

  hr {
    border: 1px solid white;
    opacity: 20%;
    margin-bottom: 10px;
    animation: hr 1.3s ease 0s 1 normal forwards;
  }

  .works-container {
    animation: name 2.5s ease 0s 1 normal forwards;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    gap: 12px;
  }

  .works-cards {
    flex: 0 0 100%;
    scroll-snap-align: center;
  }

  figure {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  figure img {
    object-fit: cover;
    object-position: top;
    max-height: 200px;
    width: 100%;
    opacity: 50%;
    transition: all 800ms;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
  }

  figure:active {
    img {
      transform: scale(1.05);
      transition: 800ms;
    }
  }

  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    font-family: "Satoshi-Medium";
    font-size: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 400px) {
  .works {
    .works-cards {
      flex: none;
    }

    figure {
      width: 350px;
    }
  }
}

@media screen and (min-width: 768px) {
  .presentation {
    h1 {
      font-size: 50px;
    }

    svg {
      width: 35px;
    }
  }
}
