.presentation {
  .name {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
  }

  svg {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  h1 {
    font-size: 35px;
  }

  hr {
    border: 1px solid white;
    opacity: 20%;
    margin: 10px 0;
  }

  img {
    height: auto;
    width: 50%;
  }

  .presentation-content {
    font-size: 16px;
    padding: 15px;
    position: relative;
  }

  .presentation-content::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid white;
    border-radius: 10px;
    background: url("../images/jeremy-n&b.webp");
    background-size: cover;
    background-position-y: 59%;
    background-position-x: 81px;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  .works-name {
    position: relative;
  }
}

.works {
  margin-top: 80px;

  h2 {
    font-size: 35px;
  }

  hr {
    border: 1px solid white;
    opacity: 20%;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .works-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    gap: 12px;
  }

  .works-cards {
    flex: 0 0 100%;
    scroll-snap-align: auto;
  }

  figure {
    width: 100%;
    position: relative;
  }

  figure img {
    object-fit: cover;
    object-position: top;
    max-height: 200px;
    width: 100%;
    opacity: 50%;
  }

  figcaption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  h3 {
    margin: 20px;
    font-size: 30px;
  }

  svg {
    stroke: #cecece;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
  }
}
