@use "./_reset.scss";
@use "./_fonts.scss";
@use "./_animation.scss";
@use "./_header.scss";
@use "./_home.scss";
@use "./_work.scss";
@use "./_contact.scss";

.pattern {
  z-index: -100;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../images/icon/pattern/pattern.png");
  background-repeat: no-repeat;
}

.pattern2 {
  z-index: -100;
  position: fixed;
  transform: rotate(3.142rad);
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("../images/icon/pattern/pattern.png");
  background-repeat: no-repeat;
}
