@use "reset.scss";
@use "fonts.scss";
@use "animation.scss";
@use "header.scss";
@use "home.scss";
@use "work.scss";
@use "contact.scss";
@use "footer.scss";
@use "about.scss";

body.dark-mode {
  background-color: #121212; /* Exemple de couleur d'arrière-plan en mode sombre */
  color: #fff; /* Exemple de couleur de texte en mode sombre */
  svg path {
    fill: white;
  }

  ul li a {
    color: #fff;
  }

  li {
    color: #fff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  figcaption {
    color: #fff;
    font-size: clamp(14px, 2vw, 1.2rem);
  }

  .link-behance {
    h3 {
      color: #fff;
    }
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .contact {
    background: url("../images/icon/pattern/portfolio-pattern-phone-jeremy-beziat-black-screen-contact.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mail-about-link {
    color: #fff;
  }

  .presentation {
    background: url("../images/icon/pattern/portfolio-pattern-phone-jeremy-beziat-black-screen.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .work-title {
    .flowers-title {
      color: #b95399;
    }
    .nuclear-title {
      color: #f2e600;
    }
  }
}

@media (min-width: 768px) {
  body.dark-mode {
    .presentation {
      background: url("../images/icon/pattern/portfolio-pattern-desktop-jeremy-beziat-black-screen.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
    }

    .contact {
      background: url("../images/icon/pattern/portfolio-pattern-desktop-jeremy-beziat-black-screen-contact.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: 1024px) {
  .dark-mode .home {
    svg:hover {
      .a-path {
        transition: ease-out;
        fill: #cdafce;
      }
      .l-path {
        transition: ease-out;
        fill: #bcaccd;
      }
      .l-deux-path {
        transition: ease-out;
        fill: #b1a6ce;
      }
      .w-path {
        transition: ease-out;
        fill: #aaabcf;
      }
      .o-path {
        transition: ease-out;
        fill: #a9b4d7;
      }
      .r-path {
        transition: ease-out;
        fill: #a6bedd;
      }
      .k-path {
        transition: ease-out;
        fill: #a3c7e6;
      }
      .arrow-path {
        transition: ease-out;
        fill: #a7d3eb;
      }
    }
  }
}
