@font-face {
  font-family: "Satoshi";
  src: local("Satoshi"), url("../fonts/satoshi/Satoshi-Regular.woff2");
  font-display: swap;
font-weight: normal;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: local("Satoshi-Medium"), url("../fonts/satoshi/Satoshi-Medium.woff2");
  font-display: swap;
font-weight: normal;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: local("Satoshi-Bold"), url("../fonts/satoshi/Satoshi-Bold.woff2");
  font-display: swap;
font-weight: normal;
}
