footer {
  width: 100%;
  padding: 100px 16px 10px;
  h2 {
    font-family: "Satoshi-Bold";
    text-align: center;
    font-size: clamp(24px, 2vw, 2rem);
    margin-bottom: 10px;
  }
  ul {
    display: flex;
    justify-content: center;
  }
  ul li a {
    font-size: clamp(16px, 2vw, 1.2rem);
    color: black;
    font-family: "Satoshi-Medium";
    margin: 10px;
  }
  p {
    font-family: "Satoshi-Medium";
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
}