.navigation {
  z-index: 1000;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

nav {
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  a {
    font-size: 14px;
    text-align: center;
    font-family: "Satoshi-Bold";
    color: #121212;
    padding: 12px 20px;
    margin: 3px;
    width: 35%;
    &.active {
      font-weight: normal;
      color: white;
      background-color: #121212;
      border-radius: 5px;
    }
  }
}

@media (min-width: 768px) {
  nav a {
    font-size: 14px;
  }
}
