header {
  width: 100%;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  mix-blend-mode: difference;
}

.logo svg {
  position: fixed;
  z-index: 100;
  top: 10px;
  left: 16px;
  height: 50px;
  mix-blend-mode: difference;
}

.menu {
  font-family: "Satoshi-Medium";
  font-size: 20px;
  background: none;
  color: #f6f6f6;
  border: none;
  mix-blend-mode: difference;
}

.btn-contact {
  // padding: 16px 20px;
  font-size: 20px;
  color: #f6f6f6;
  // border: 1px solid #f6f6f6;
  background: none;
  border-radius: 50px;
}

.menu-toggle-desktop,
.navigation-desktop {
  display: none;
}

.open-menu {
  overflow: hidden;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #0038ff;
  z-index: 1;
  mix-blend-mode: difference;
}

.menu-icon {
  position: fixed;
  display: flex;
  top: 20px;
  right: 16px;
  cursor: pointer;
}

.hamburger-menu.open {
  right: 0;
  top: 0;
  width: 100%; /* Affiché lorsque le menu est ouvert */
  mix-blend-mode: inherit;
  .logo svg {
    mix-blend-mode: inherit;
  }
}

.menu-toggle {
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: fixed;
  right: 65px;
  top: 20px;
  z-index: 1000;
  mix-blend-mode: difference;
}

.menu-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  ul {
    text-align: center;
    li {
      font-family: "Satoshi-Medium";
      font-size: 80px;
      a {
        color: #fff;
      }
    }
  }
}

@media (min-width: 768px) {
  .logo {
    height: 100%;
  }
  .logo svg {
    position: relative;
    height: 60px;
  }
  .logo-phone {
    display: none;
  }
  .menu-toggle,
  .hamburger-menu {
    display: none;
  }
  .navigation-desktop {
    position: fixed;
    display: block;
    width: 100%;
    padding: 20px 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: difference;
    z-index: 1000;
    .nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .menu-toggle-desktop {
      display: table;
      width: 20px;
      height: 20px;
      cursor: pointer;
      z-index: 1000;
      mix-blend-mode: difference;
    }
    ul {
      display: flex;
    }
    ul li a {
      color: white;
      margin-left: 10px;
      font-family: "Satoshi";
      font-size: clamp(16px, 2vw, 1.3rem);
    }
  }
}

@media (min-width: 1024px) {
  .navigation-desktop {
    padding: 20px 32px;
  }
}

@media (min-width: 1440px) {
  .navigation-desktop {
    padding: 20px 32px 0;
  }
}
