.home-about {
  position: relative;
  width: 100%;
}

.container-presentation {
  position: relative;
  padding: 0px 20px 0;
  display: flex;
  width: 100%;
  height: 100vh;
}

.container-presentation::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/icon/pattern/pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  width: 100%;
  border-radius: 5px;
  color: white;
  .title {
    width: 100%;
    margin-bottom: 20px;
  }
  h1 {
    font-family: "Satoshi-Medium", sans-serif;
    font-style: normal;
    font-size: clamp(25px, 7vw, 50px);
    user-select: none;
  }
}

.responsive-presentation {
  width: 100%;
}

.container-image {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
}

img {
  width: 25%;
  z-index: 100;

  height: 350px;
  object-fit: cover;
  &:not(:last-child) {
    padding-right: 5px;
  }
}

@media (min-width: 768px) {
  img:not(:last-child) {
    padding-right: 20px;
  }
}

@media (min-width: 1024px) {
  .container-presentation {
    .responsive-presentation {
      h1 {
        margin: 0;
        font-size: clamp(50px, 4vw, 70px);
      }
    }
  }
}
