.home {
  height: 100%;
  width: 100%;
  .presentation {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../images/icon/pattern/portfolio-pattern-phone-jeremy-beziat-white-screen.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
      font-family: "Satoshi-Medium";
      font-size: clamp(45px, 10vw, 15rem);
    }
    span {
      margin-top: 0px;
      font-size: clamp(17px, 3vw, 4rem);
    }
    .scroll {
      position: absolute;
      bottom: 100px;
      font-size: clamp(12px, 2vw, 1rem);
      font-family: "Satoshi-Medium";
      animation: scroll 1s ease 0s 1 normal forwards;
    }
    @keyframes scroll {
      0% {
        transform: translateY(100px);
      }

      100% {
        transform: translateY(0px);
      }
    }
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr; /* Une colonne par défaut */
    grid-gap: 25px; /* Espace entre les cartes */
  }

  .featured-work {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding: 0px 16px;
  }

  h2 {
    font-size: clamp(24px, 7vw, 8rem);
    font-family: "Satoshi-Bold";
  }

  .featured-first-link {
    margin-top: 25px;
  }

  figure {
    width: 100%;
    margin-bottom: 25px;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 250px;
    }
    figcaption {
      color: black;
      font-size: clamp(14px, 2vw, 1.2rem);
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  svg {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .home {
    .card-container {
      grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
    }
    .featured-first-link {
      margin-top: 0;
    }
    figure {
      height: 400px;
      img {
        height: 400px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .home {
    .featured-work {
      svg:hover {
        .a-path {
          fill: #a5bedd;
        }
        .l-path {
          fill: #a4c7e7;
        }
        .l-deux-path {
          fill: #a6d2eb;
        }
        .w-path {
          fill: #a7d4e7;
        }
        .o-path {
          fill: #abd4ce;
        }
        .r-path {
          fill: #aad3c1;
        }
        .k-path {
          fill: #aed1b9;
        }
        .arrow-path {
          fill: #bad7b9;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .home {
    .presentation {
      background-image: url("../images/icon/pattern/portfolio-pattern-desktop-jeremy-beziat-white-screen.svg");
      background-position: bottom;
      background-size: cover;
    }
  }
}

@media (min-width: 1440px) {
  .home {
    .card-container {
      grid-gap: 50px;
    }
    .featured-work {
      padding: 0px 32px;
    }
    figure {
      height: 700px;
      img {
        height: 700px;
      }
    }
  }
}
