*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Satoshi";
}

body,
header,
main,
footer {
  width: 100%;
  height: 100%;
}

:where(html) {
  box-sizing: border-box;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 500;
  font-family: "Satoshi-Medium";
}

a {
  text-decoration: none;
}

:where(ul) {
  list-style: none;
}

:where(img, video) {
  height: auto;
  max-width: 100%;
}

:where(iframe) {
  border: 0;
}

:where(table) {
  border-collapse: collapse;
  border-spacing: 0;
}


@media (min-width: 768px) {
  :where(html) {
    box-sizing: border-box;
    overflow-x: hidden;
  }
}