body::-webkit-scrollbar {
  display: none;
}

.work {
  padding: 20px;
  padding-bottom: 100px;
  h1 {
    margin-top: 30px;
    font-size: clamp(50px, 10vw, 100px);
  }
  .work-container {
    display: flex;
    padding: 5px;
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
    .work-contain {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 5px;
    }
    .work-title {
      color: #121212;
      font-size: clamp(20px, 5vw, 44px);
    }
    .work-subtitle {
      font-family: "Satoshi", sans-serif;
      font-size: clamp(16px, 5vw, 26px);
      color: #121212;
    }
    &.raining {
      background: #f2f100;
    }
    &.purple {
      background: #e55ff1;
    }
    &.dream {
      background: #7380db;
    }
    &.linear {
      background: #f4f4fc;
    }
    &.help {
      background: #2c99ff;
    }
    &.margueritte {
      background: #016ce5;
    }
    &.joker {
      background: #35af35;
    }
    img {
      width: 40%;
      border-radius: 5px;
      height: 150px;
      object-fit: cover;
      object-position: center;
      opacity: 0;
    }
  }
}

@media (min-width: 768px) {
  .work {
    .work-container {
      img {
        height: 250px;
      }
    }
  }
}
@media (min-width: 1024px) {
  .work {
    .cards-works {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 20px;
      gap: 20px;
    }
    .work-container {
      flex: 0 0 calc(50% - 20px);
      overflow: hidden;
      .work-title,
      .work-subtitle {
        transition: 300ms;
      }
      img {
        width: 50%;
        opacity: 0;
        height: 300px;
        animation: slideRight 0s ease 0s 1 normal forwards;
      }
      @keyframes slideRight {
        0% {
          opacity: 1;
          transform: translateX(0);
        }

        100% {
          opacity: 0;
          transform: translateX(250px);
        }
      }
    }
    .work-container:hover {
      .work-title {
        transition: 500ms;
        font-size: 55px;
      }
      .work-subtitle {
        font-size: 40px;
        transition: 500ms;
      }
      img {
        transition: 1s;
        animation: myAnim 1s ease 0s 1 normal forwards;
      }
      @keyframes myAnim {
        0% {
          opacity: 0;
          transform: translateX(250px);
        }

        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}
