.work {
  height: 100%;
  width: 100%;

  .work-titles {
    padding: 0px 16px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-family: "Satoshi-Bold", sans-serif;
    text-align: center;
    font-size: clamp(28px, 8vw, 7rem);
  }
  h2 {
    text-align: center;
    font-size: clamp(20px, 3vw, 2.5rem);
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr; /* Une colonne par défaut */
    grid-gap: 25px; /* Espace entre les cartes */
  }

  .all-work {
    width: 100%;
    height: 100%;
    padding: 0px 16px;

    .work-first-link {
      margin-top: 25px;
    }

    figure {
      width: 100%;
      margin-bottom: 25px;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 250px;
      }
      figcaption {
        color: black;
        font-size: clamp(14px, 2vw, 1.2rem);
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
    }
  }
}

// work presentation page //

.work-title {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-family: "Satoshi-Bold";
    font-size: clamp(70px, 10vw, 20rem);
  }
  h2 {
    font-size: clamp(20px, 4vw, 3rem);
    text-align: center;
  }
  .flowers-title {
    color: #d00f35;
  }
  .smile-title {
    color: #2b29eb;
  }
  .nuclear-title {
    color: #000;
  }
  .joker-title {
    color: #189254;
  }
  .marguerite-title {
    color: #076edd;
  }
}

.presentation-work {
  position: relative;
  padding: 0px 16px;
  width: 100%;
  height: auto;
  img {
    width: 100%;
    margin-bottom: 50px;
  }
  h2 {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .work {
    .all-work {
      .card-container {
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
      }
      .work-first-link {
        margin-top: 0;
      }
      figure {
        height: 400px;
        img {
          height: 400px;
        }
      }
    }
  }
  .presentation-work {
    padding: 0px 100px;
  }
}

@media (min-width: 1024px) {
  .presentation-work {
    padding: 0px 200px;
    img {
      margin-bottom: 50px;
    }
  }
}

@media (min-width: 1440px) {
  .work {
    .all-work {
      margin-top: 100px;
      padding: 0px 32px;
      .card-container {
        grid-gap: 50px;
      }
      figure {
        height: 700px;
        img {
          height: 700px;
        }
      }
    }
  }
  .presentation-work {
    padding: 0px 500px;
  }
}
